.form {
  display: inline-flex;
  flex-direction: column;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;

  margin-right: 20px;
}

.button {
  padding: 5px;

  background-color: lightgreen;
  border: 1px solid black;
  cursor: pointer;

  font-weight: 500;

  transition: transform 250ms linear 0ms;
}

.button:hover {
  transform: scale(1.01);
}


